body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
}

h1 {
  /* */
}

.button{
  background-color: #D97B66;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.heading{
    color:#a60321;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8C5C32;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li {
  background-color: #8C5C32;
}

.a{
    color:#D97B66
}
.a :visited{
    color: #D97B66;
}