.heading{
    color: #a60321;
    font-size: larger;
    flex: auto;
    flex-direction: row;

}
.hero{
    background: no-repeat left/100% url(./images/resturant.jpg);
    width: 100%;
    height: 300px;
}
.a{
    color:#D97B66;
    background-color: #a60321;
    font-weight: bold;
}
.a:visited{
    color:#D97B66;
    font-weight: bold;

}
.montserrat-regular{
    color:#a60321;
    /*background-color: silver; */
}
.slogo{
    display: flex;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8C5C32;
  display: flex;
  justify-content: center;
}

.navigation li {
    padding: 5px;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}


.aboutUs{
    font-size: x-large;
    color:#a60321

}

.info{
    font-size: xx-large;

}

.restaurant{
    background-color: #F2E9D8;
}

.slogo{
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
}
 
.homepage-card {
    border: 1px solid #d97b66;
    width: 200px;
    height: 200px;
    display: block;
    margin: 5px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    background-color: #d97b66;
    text-decoration: none;
    font-weight: 600;
    color: white;
}