<!DOCTYPE html>
<html lang="en">
<div class="restaurant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./static/restaurant.css">
        <link rel="stylesheet" href="./static/menu.css">
        <title>FlavorLab</title>

    </head>
    <body style="margin: 10px; background-color: #F2E9D8;">
        <header class="heading">
        <img src="{{ url_for('static', filename='images/flavorlabLogo.png') }}" alt="FlavorLab logo" height="200px">
        <nav>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/order">Orders</a></li>
                <li><a href="/user-form">Login</a></li>
            </ul>
        </nav>
        </header>

        <div class="hero">   
        <h1 class="montserrat-regular">About Us</h1>
        </div>

        <div class="aboutUs">
        <h1>About us</h1>
        </div>
    <div class="info"
        <p>
            Welcome to FlavorLab, where creativity meets cuisine. We believe great food is more than just a meal, it's an experience. Inspired by the spirit of experimentation and a passion for bold tastes, we've created a place where classic favourites and innovative flavours come together.
        </p>
        <p>
            At FlavorLab, every dish is carefully crafted using high-quality ingredients, fresh produce, and a commitment to exceptional taste. Our chefs are constantly exploring new combinations, techniques, and inspirations from around the world to bring exciting and memorable flavours to your table.
        </p>
        <p>
            Whether you're joining us for a casual lunch, a family dinner, or a special celebration, our mission is simple: to deliver delicious food, warm hospitality, and an atmosphere that makes every visit unforgettable.
        
        </p>
        </div>
    <div class="slogan"
        <p>
            <b>FlavorLab: Where every dish is an experiment worth tasting.</b>
        </p>
    </div>
    </body>
</div>
</html>             