<!DOCTYPE html>
<html lang="en">
<div class="restaurant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./static/restaurant.css">
        <link rel="stylesheet" href="./static/menu.css">
        <title>FlavorLab</title>
    </head>
    <body style="background-color: #F2E9D8;">
        <header class="heading">
        <img src="{{ url_for('static', filename='images/flavorlabLogo.png') }}" alt="FlavorLab logo" height="200px">
        <nav>
            <ul class="navigation">
                <li><a href="/about-us">About us</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/order">Orders</a></li>
                <li><a href="/user-form">Login</a></li>
            </ul>
        </nav>
        </header>
        <main>

        <div class="hero">   
            <h1 class="montserrat-regular">Welcome to FlavorLab</h1>
        </div>

       <div class="cards">
                <a class="homepage-card" href="/menu">
                    Menu
                </a>
                <a class="homepage-card" href="/order">
                    Orders
                </a>
                <a class="homepage-card" href="/user-form">
                    Users
                </a>
            </div>
       </main>
       <footer>
            home 
            customer support 
            <p> © 2026 FlavorLab All rights reserved.</p>
        </footer>      