<!DOCTYPE html>
<html>
<head>
    <title>Order Form</title>
    <link rel="stylesheet" href="./static/order.css">
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; background-color: #F2E9D8; }
        form { max-width: 400px; }
        input { display: block; margin: 10px 0; padding: 8px; width: 100%; }
        button { padding: 10px 20px; background-color: #A60321; color: white; border: none; cursor: pointer; }
    </style>
</head>
<body>
    <header class="heading">
        <img src="{{ url_for('static', filename='images/flavorlabLogo.png') }}" alt="FlavorLab logo" height="200px">
        
        <nav>
            <ul class="navigation">
                <li><a href="/menu">Menu</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/user-form">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>Order Form</h1>
    <form method="POST" action="/submit-order">
        <label for="table_num">Table Number</label>
        <select id="table_num" name="table_num">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>

        <br></br>
        <br></br>
        <h2>Select Food Items</h2>

        {% for item in food_items %}

        <div class="food-item">

            <input
                type="checkbox"
                name="food_items"
                value="{{ item['id'] }}"
                data-price="{{ item['price'] }}"
                class="food-checkbox"
            >

            <strong>{{ item['food_name'] }}</strong>

            <p>{{ item['description'] }}</p>

            <p>Category: {{ item['category'] }}</p>

            <p>Price: £{{ "%.2f"|format(item['price']) }}</p>

        </div>

        {% endfor %}
 
        <p class="label">Order type:</p>

            <p class="orderTypes">
            <input type="radio" id="delivery" name="order_type" value="delivery">
            <label for="delivery">Delivery</label><br>
            <input type="radio" id="takeAway" name="order_type" value="takeAway">
            <label for="takeAway">Takeaway</label><br>
            <input type="radio" id="eatIn" name="order_type" value="eatIn">
            <label for="eatIn">Eat-in</label>
            </p>
        

        <button type="submit">Submit</button>
    </form>
</body>
</html>                                       