<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
</head>
<body>
    <h1>✅ Registration Successful!</h1>
    <p>Your data has been saved to the database.</p>
    <a href="/">Back to Form</a> | <a href="/users">View All Users</a>
    <footer>
            home 
            customer support 

            <address>
                222 Regent Street, London, WW1 445 <br>
                Phone: 0207 111 1111 <br>
                Email: info@flavorlab.com
            </address>

            <p> © 2026 FlavorLab All rights reserved.</p>
        </footer>
</body>
</html>
 